= render 'menu'

.panel.max
  %h3= t("Deleting_Admin", admin: @admin.username)
  .confirm
    = t('Delete_Admin_Confirm')
    .buttons
      = link_to t('Delete_Admin_Yes'), admin_path(@admin), method: :delete, class: "button button-red"
