= render 'menu'

.panel.max
  %h3= t("Deleting_Job", job: @job.name)
  .confirm
    = t('Delete_Job_Confirm')
    .buttons
      = link_to t('Delete_Job_Yes'), job_path(@job), method: :delete, class: "button button-red"
