#submenu.button_group
  = link_to 'Listing Servers', servers_path, class: "button"
  = link_to 'Server Details', server_path(@server), class: "button"
  = link_to 'Edit Server', edit_server_path(@server), class: "button active"
.menu_div

= render 'form'
