.button {
  display:inline-block;
  vertical-align:top;
  height:30px;
  line-height:1;
  font-size:12px;
  color:#666;
  text-align:center;
  text-shadow:0 1px rgba(255,255,255,0.5);
  background:#eee;
  background-clip:padding-box;
  border:1px solid;
  border-radius:3px;
  cursor:pointer;
  -webkit-appearance: none;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background-image:linear-gradient(tobottom,#fcfcfc,#e8e8e8);
  -webkit-box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05);
  box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05);
  border-color:#cfcfcf #ccc #c6c6c6;
  padding:0 15px;
  &:hover {
    background:#eee;
    color:#666;
  }
  &:active, &.active {
    background:#e8e8e8;
    background-image:linear-gradient(tobottom,#e8e8e8,#fafafa);
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
    border-color:#bfbfbf #c8c8c8 #d6d6d6;
  }
}

a.button {
  line-height:28px;
  text-decoration:none;
}

.button-blue,.button-green,.button-red {
  color:white;
  text-shadow:0 -1px rgba(0,0,0,0.3);
  -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
  box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
  &:hover {
    color:white;
  }
  &:active {
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
  }
}

.button-blue {
  background:#278cd8;
  background-image:linear-gradient(tobottom,#33a0e8,#1b7aca);
  border-color:#1b74bc #1867a8 #165f9b;
  &:hover {
    background:#278cd8;
  }
  &:active,&.active {
    background:#2180ce;
    background-image:linear-gradient(tobottom,#2180ce,#33a0e8);
    border-color:#145b96 #1566af #1a76c2;
  }
}

.button-green {
  background:#81c33d;
  background-image:linear-gradient(tobottom,#a0d44d,#72ba35);
  border-color:#7ba845 #77a343 #6f983f;
  &:hover {
    background:#81c33d;
  }
  &:active,&.active {
    background:#75bd35;
    background-image:linear-gradient(tobottom,#75bd35,#a0d44d);
    border-color:#678f3a #75a143 #81b049;
  }
}

.button-red {
  background:#dd362c;
  background-image:linear-gradient(tobottom,#fc4138,#ce3026);
  border-color:#ac1612 #9d100d #8b0f0b;
  &:hover {
    background:#dd362c;
  }
  &:active,&.active {
    background:#cf3025;
    background-image:linear-gradient(tobottom,#cf3025,#fc4138);
    border-color:#800d09 #8b0f0b #ac1612;
  }
}

input,textarea,select,button,label {
  line-height:normal;
  font-family:inherit;
  font-size:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text],input[type=email],input[type=url],input[type=search],input[type=password],input[type=number],textarea {
  display:inline-block;
  vertical-align:top;
  color:#666;
  background:white;
  border:1px solid #c6c6c6;
  border-top-color:#bbb;
  border-radius:3px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.06),0 1px rgba(255,255,255,0.4);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.06),0 1px rgba(255,255,255,0.4);
  padding:7px 7px;
  &:focus {
    color:#404040;
    background:white;
    outline:none;
    -webkit-box-shadow:inset 0 0 2px #51b5fb,0 0 3px #51b5fb;
    box-shadow:inset 0 0 2px #51b5fb,0 0 3px #51b5fb;
    border-color:#51b5fb;
  }
}

.select {
  display:inline-block;
  vertical-align:top;
  position:relative;
  overflow:hidden;
  width:200px;
  height:27px;
  background:#f4f4f4;
  border:1px solid #ccc;
  border-bottom-color:#c4c4c4;
  border-radius:3px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background-image:linear-gradient(tobottom,#fcfcfc,#eee);
  -webkit-box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.05);
  box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.05);
  &>select {
    cursor: pointer;
    display:block;
    position:relative;
    width:112%;
    height:25px;
    line-height:17px;
    color:#62717a;
    text-shadow:0 1px white;
    background:rgba(0,0,0,0);
    border:0;
    -webkit-appearance:none;
    margin:0;
    padding:4px 4px 4px 9px;
    &:focus {
      z-index:2;
      width:100%;
      outline:1px solid #51b5fb;
      outline-offset:-1px;
    }
  }
  option {
    text-shadow:none;
  }
  &:before,&:after {
    content:'';
    position:absolute;
    z-index:1;
    top:8px;
    right:10px;
    width:0;
    height:0;
    border:3px dashed;
    pointer-events:none;
    border-color:rgba(0,0,0,0.4) transparent;
  }
  &:before {
    border-bottom-style:solid;
    border-top:none;
  }
  &:after {
    margin-top:6px;
    border-top-style:solid;
    border-bottom:none;
  }
}
