body {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #1177ee;
  &:hover, &.current {
    text-shadow: none;
    background: #1177ee;
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice, #alert {
  font-size: 13px;
  text-align: center;
  position: absolute;
  z-index: 9999;
  width: 400px;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -200px;
  line-height:29px;
  color:#6b6a5a;
  text-shadow:0 1px rgba(255,255,255,0.5);
  background:#fcf0b0;
  border:1px solid #d7cd89;
  border-bottom-color:#cec986;
  border-radius:3px;
  background-image:linear-gradient(tobottom,#fef5bd,#faeca4);
  -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04);
  box-shadow:inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04);
  padding:0 10px;
  .close {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -9px;
    font: bold 16px/16px Arial, sans-serif;
    color: inherit;
    opacity: .75;
    padding: inherit;
    &:hover {
      background: none;
      color: inherit;
      text-decoration: none;
      opacity: 1;
    }
  }
}

#notice {
  color:#526e4f;
  background:#bff1bc;
  background-image:linear-gradient(tobottom,#cef4d0,#b2eeaa);
  border-color:#98cf9f #98cf9f #8ec397;
}

#error_explanation {
  width: 450px;
  background-color: #FFF5F5;
  margin: 0 0 12px 0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    background-color: #FFD3D3;
    color: #C00;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #C00;
    border-top: 1px solid #C00;
    border-right: 1px solid #C00;
    margin: 0;
  }
  ul {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-left: 1px solid #C00;
    border-bottom: 1px solid #C00;
    border-right: 1px solid #C00;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#main {
  width: 780px;
  margin: 20px auto;
  padding: 15px;
  background: #f3f6fa;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  &.small {
    width: 250px;
    margin: 80px auto;
  }
  #header {
    position: relative;
    margin: -15px -15px 15px;
    h1#title {
      margin: 0;
      padding: 0 15px;
      line-height: 38px;
      font-size: 13px;
      font-weight: bold;
      color: #7f889e;
      text-shadow: 0 1px rgba(255, 255, 255, 0.7);
      background: #eceff5;
      border-bottom: 1px solid #c5ccdb;
      border-radius: 7px 7px 0 0;
      background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
      background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
      background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
      background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
      -webkit-box-shadow: inset 0 1px white;
      box-shadow: inset 0 1px white;
      display: block;
      position: relative;
      .right {
        display: block;
        position: absolute;
        top: 0;
        right: 18px;
        font-weight: normal;
        font-size: 11px;
        a {
          padding: 2px;
        }
      }
    }
  }
}

#chart {
  height: 400px;
  &.never {
    height: auto;
    p {
      text-align: center;
      margin: 0;
      padding: 10px;
    }
  }
}

.button_group {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  font-size: 0;
  white-space: nowrap;
  margin-right: 30px;
  &>.button {
    margin-left:-1px;
    height:inherit;
    line-height:28px;
    border-radius:0;
    padding:0 15px;
    &:first-child {
      margin-left:0;
      border-radius:3px 0 0 3px;
    }
    &:last-child {
      border-radius:0 3px 3px 0;
    }
    &:focus {
      position:relative;
      z-index:1;
    }
  }
}

.menu_div {
  padding: 6px 0;
}

.button {
  display:inline-block;
  vertical-align:top;
  height:30px;
  line-height:1;
  font-size:12px;
  color:#666;
  text-align:center;
  text-shadow:0 1px rgba(255,255,255,0.5);
  background:#eee;
  background-clip:padding-box;
  border:1px solid;
  border-radius:3px;
  cursor:pointer;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background-image:linear-gradient(tobottom,#fcfcfc,#e8e8e8);
  -webkit-box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05);
  box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05);
  border-color:#cfcfcf #ccc #c6c6c6;
  padding:0 15px;
  &:hover {
    background:#eee;
    color:#666;
  }
  &:active, &.active {
    background:#e8e8e8;
    background-image:linear-gradient(tobottom,#e8e8e8,#fafafa);
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1);
    border-color:#bfbfbf #c8c8c8 #d6d6d6;
  }
}

a.button {
  line-height:28px;
  text-decoration:none;
}

.button-blue,.button-green,.button-red {
  color:white;
  text-shadow:0 -1px rgba(0,0,0,0.3);
  -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
  box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06);
  &:hover {
    color:white;
  }
  &:active {
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1);
  }
}

.button-blue {
  background:#278cd8;
  background-image:linear-gradient(tobottom,#33a0e8,#1b7aca);
  border-color:#1b74bc #1867a8 #165f9b;
  &:hover {
    background:#278cd8;
  }
  &:active,&.active {
    background:#2180ce;
    background-image:linear-gradient(tobottom,#2180ce,#33a0e8);
    border-color:#145b96 #1566af #1a76c2;
  }
}

.button-green {
  background:#81c33d;
  background-image:linear-gradient(tobottom,#a0d44d,#72ba35);
  border-color:#7ba845 #77a343 #6f983f;
  &:hover {
    background:#81c33d;
  }
  &:active,&.active {
    background:#75bd35;
    background-image:linear-gradient(tobottom,#75bd35,#a0d44d);
    border-color:#678f3a #75a143 #81b049;
  }
}

.button-red {
  background:#dd362c;
  background-image:linear-gradient(tobottom,#fc4138,#ce3026);
  border-color:#ac1612 #9d100d #8b0f0b;
  &:hover {
    background:#dd362c;
  }
  &:active,&.active {
    background:#cf3025;
    background-image:linear-gradient(tobottom,#cf3025,#fc4138);
    border-color:#800d09 #8b0f0b #ac1612;
  }
}

input,textarea,select,button,label {
  line-height:normal;
  font-family:inherit;
  font-size:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
}

input[type=text],input[type=email],input[type=url],input[type=search],input[type=password],textarea {
  display:inline-block;
  vertical-align:top;
  color:#666;
  background:white;
  border:1px solid #c6c6c6;
  border-top-color:#bbb;
  border-radius:3px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.06),0 1px rgba(255,255,255,0.4);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.06),0 1px rgba(255,255,255,0.4);
  padding:7px 7px;
  &:focus {
    color:#404040;
    background:white;
    outline:none;
    -webkit-box-shadow:inset 0 0 2px #51b5fb,0 0 3px #51b5fb;
    box-shadow:inset 0 0 2px #51b5fb,0 0 3px #51b5fb;
    border-color:#51b5fb;
  }
}

.select {
  display:inline-block;
  vertical-align:top;
  position:relative;
  overflow:hidden;
  width:200px;
  height:27px;
  background:#f4f4f4;
  border:1px solid #ccc;
  border-bottom-color:#c4c4c4;
  border-radius:3px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background-image:linear-gradient(tobottom,#fcfcfc,#eee);
  -webkit-box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.05);
  box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.05);
  &>select {
    cursor: pointer;
    display:block;
    position:relative;
    width:112%;
    height:25px;
    line-height:17px;
    color:#62717a;
    text-shadow:0 1px white;
    background:rgba(0,0,0,0);
    border:0;
    -webkit-appearance:none;
    margin:0;
    padding:4px 4px 4px 9px;
    &:focus {
      z-index:2;
      width:100%;
      outline:1px solid #51b5fb;
      outline-offset:-1px;
    }
  }
  option {
    text-shadow:none;
  }
  &:before,&:after {
    content:'';
    position:absolute;
    z-index:1;
    top:8px;
    right:10px;
    width:0;
    height:0;
    border:3px dashed;
    pointer-events:none;
    border-color:rgba(0,0,0,0.4) transparent;
  }
  &:before {
    border-bottom-style:solid;
    border-top:none;
  }
  &:after {
    margin-top:6px;
    border-top-style:solid;
    border-bottom:none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table.list {
  margin: 0 0 10px 0;
  width:100%;
  line-height:29px;
  text-align:left;
  background:white;
  border-collapse:separate;
  border-radius:3px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.06);
  box-shadow:0 1px 2px rgba(0,0,0,0.06);
  th.date {
    width: 150px;
  }
  th.server {
    width: 130px;
    white-space: nowrap;
  }
  td.date {
    font-size: 13px;
    white-space: nowrap;
  }
  td.path, td.name {
    width: 250px;
    input[type=text] {
      padding: 2px 5px;
      vertical-align: middle;
      width: 250px;
      font-family: monospace;
    }
  }
  td.server {
    font-size: 13px;
  }
  td.size {
    width: 40px;
  }
  span.interpreter {
    font-size: 10px;
    color: #BBB;
  }
  thead>tr>th {
    font-weight:bold;
    color:white;
    text-shadow:0 1px rgba(0,0,0,0.2);
    background:#2c92ed;
    background-image:linear-gradient(tobottom,#49a4fc,#208be7);
    -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.06),0 1px rgba(0,0,0,0.04);
    box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.06),0 1px rgba(0,0,0,0.04);
    border-color:#1d87e2 #187ed9 #1670c1;
    border-style:solid;
    border-width:1px 1px 1px 0;
    padding:0 10px;
    &:first-child {
      border-left-width:1px;
      border-top-left-radius:3px;
      width: 20px;
    }
    &:last-child {
      border-top-right-radius:3px;
    }
  }
  tbody>tr:nth-child(2n) {
    background:#f9f9f9;
  }
  tbody>tr:hover {
    background:#f4f4f4;
  }
  tbody>tr>td {
    text-shadow:0 1px white;
    border-right:1px solid #eee;
    border-right-color:rgba(0,0,0,0.07);
    padding:0 10px;
    &:first-child {
      border-left:1px solid #d2d2d2;
    }
    &:last-child {
      border-right-color:#d2d2d2;
    }
  }
  tfoot>tr>td {
    position:relative;
    line-height:26px;
    padding-left:9px;
    font-size:11px;
    color:#777;
    text-shadow:0 1px rgba(255,255,255,0.5);
    background:#f4f4f4;
    background-image:linear-gradient(tobottom,#fbfbfb,#ededed);
    -webkit-box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.2);
    box-shadow:inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.2);
    border-color:#dbdbdb #d2d2d2 #ccc;
    border-style:solid;
    border-width:1px 1px 1px 0;
    &:first-child {
      border-left-width:1px;
      border-bottom-left-radius:3px;
    }
    &:last-child {
      border-bottom-right-radius:3px;
    }
  }
  .table-pager {
    float:right;
  }
  .table-pager-link {
    float:left;
    position:relative;
    overflow:hidden;
    width:26px;
    height:26px;
    font:0/0 serif;
    color:transparent;
    border-left:1px solid #ddd;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-box-shadow:inset 1px 0 rgba(255,255,255,0.2),-1px 0 rgba(255,255,255,0.2);
    box-shadow:inset 1px 0 rgba(255,255,255,0.2),-1px 0 rgba(255,255,255,0.2);
    &:hover {
      background:rgba(0,0,0,0.015);
    }
    &:hover:after {
      border-color:transparent #777;
    }
    &:active {
      background:#eee;
      -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.03),0 -1px rgba(0,0,0,0.02),-1px 0 rgba(255,255,255,0.2);
      box-shadow:inset 0 1px 1px rgba(0,0,0,0.03),0 -1px rgba(0,0,0,0.02),-1px 0 rgba(255,255,255,0.2);
    }
    &:active:after {
      border-color:transparent #999;
    }
    &:before,&:after {
      content:'';
      position:absolute;
      top:50%;
      left:50%;
      width:0;
      height:0;
      border-color:transparent #909090;
      border-style:solid;
      margin:-4px 0 0 -2px;
    }
    &:before {
      margin-top:-3px;
      border-color:transparent rgba(255,255,255,0.5);
    }
    &.prev:before,&.prev:after {
      border-width:4px 4px 4px 0;
    }
    &.next:before,&.next:after {
      border-width:4px 0 4px 4px;
    }
    &:last-child {
      border-bottom-right-radius:2px;
    }
  }
}

.clear {
  clear: both;
}

div.panel {
  clear: both;
  margin: 0 0 15px 0;
  width: 250px;
  background: #fafafa;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: -moz-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: -o-linear-gradient(top, #fafafa, #e1e1e1);
  background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  &.max {
    width: 100%;
  }
  &.float {
    float: left;
    margin-right: 10px;
    clear: none;
  }
  h3 {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 4px 10px;
    color: #505050;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    background: #b5b5b5;
    border-bottom: 1px solid #949494;
    border-radius: 5px 5px 0 0;
    background-image: -webkit-linear-gradient(top, #dadada, #b1b1b1);
    background-image: -moz-linear-gradient(top, #dadada, #b1b1b1);
    background-image: -o-linear-gradient(top, #dadada, #b1b1b1);
    background-image: linear-gradient(to bottom, #dadada, #b1b1b1);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
  }
  .pc {
    padding: 5px 10px;
    input {
      padding: 5px 7px 4px;
      width: 100%;
    }
    select, .select {
      width: 100%;
    }
    .custom_param {
      margin-bottom: 2px;
    }
  }
  .script {
    font-family: monospace;
    font-size: 12px;
    margin: 0;
    height: auto;
    max-height: 200px;
    overflow: scroll;
  }
}

.misc {
  margin-bottom: 10px;
  font-size: 13px;
}

.separator {
  background: #efefef url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAHUlEQVR42q3IoREAAACCQHdy/91IFrLcfSGqc5wAdFYCZQo/LFUAAAAASUVORK5CYII=') repeat-x 0 0;
  height: 4px;
  overflow: hidden;
  padding: 0;
  margin: 15px 0;
}

#output {
  border-radius: 7px;
  font-size: 13px;
  font-family: monospace;
  line-height: 18px;
  background: #D3EBFF;
  padding: 8px 10px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  height: 250px;
  overflow: scroll;
}
