.settings-p1 {
  float: left;
  width: 215px;
  margin: 0 15px 15px 0;
  td.name {
    input[type=text] {
      width: 150px !important;
    }
  }
}
.settings-p2 {
  float: left;
  width: 550px;
  margin: 0 0 15px 0;
}
