%meta{ charset: 'UTF-8' }
%meta{ name: 'description', content: 'A simple Ruby on Rails SSH web interface to ease your workload.' }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
%title EasyJobs
%link{ rel: 'shortcut icon', href: '/favicon.ico' }
%link{ rel: 'icon', href: '/assets/icons/EasyJobs_152px.png' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/icons/EasyJobs_152px.png' }
= javascript_include_tag "fastclick", "data-turbolinks-track" => true
