%meta{ charset: 'UTF-8' }
%meta{ name: 'description', content: 'A simple Ruby on Rails SSH web interface to ease your workload.' }
%title EasyJobs
%link{ rel: 'shortcut icon', href: '/favicon.ico' }
%link{ rel: 'icon', href: '/assets/icons/EasyJobs_152px.png' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/icons/EasyJobs_152px.png' }
